.lasuite-gaufre-tchap {
    border: solid 1px var(--cpd-color-bg-subtle-primary);
}

#tchap-gaufre {
    overflow: scroll;
    height: 300px;
}

.tc_sidebar_quick_faq {
    
    &::before {
        mask-image: url("@vector-im/compound-design-tokens/icons/help-solid.svg") !important;
    }
}
